resources/Calculadora.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.lcobucci.com.br/services/Calculadora" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Calculadora" targetNamespace="http://www.lcobucci.com.br/services/Calculadora">
  <wsdl:message name="somaRequest">
    <wsdl:part name="num1" type="xsd:float"/>
    <wsdl:part name="num2" type="xsd:float"/>
  </wsdl:message>
  <wsdl:message name="somaResponse">
    <wsdl:part name="response" type="xsd:float"/>
  </wsdl:message>
  <wsdl:message name="subtraiRequest">
    <wsdl:part name="num1" type="xsd:float"/>
    <wsdl:part name="num2" type="xsd:float"/>
  </wsdl:message>
  <wsdl:message name="subtraiResponse">
    <wsdl:part name="response" type="xsd:float"/>
  </wsdl:message>
  <wsdl:message name="multiplicaRequest">
    <wsdl:part name="num1" type="xsd:float"/>
    <wsdl:part name="num2" type="xsd:float"/>
  </wsdl:message>
  <wsdl:message name="multiplicaResponse">
    <wsdl:part name="response" type="xsd:float"/>
  </wsdl:message>
  <wsdl:message name="divideRequest">
    <wsdl:part name="num1" type="xsd:float"/>
    <wsdl:part name="num2" type="xsd:float"/>
  </wsdl:message>
  <wsdl:message name="divideResponse">
    <wsdl:part name="response" type="xsd:float"/>
  </wsdl:message>
  <wsdl:portType name="Calculadora">
    <wsdl:operation name="soma">
      <wsdl:input message="tns:somaRequest"/>
      <wsdl:output message="tns:somaResponse"/>
    </wsdl:operation>
    <wsdl:operation name="subtrai">
      <wsdl:input message="tns:subtraiRequest"/>
      <wsdl:output message="tns:subtraiResponse"/>
    </wsdl:operation>
    <wsdl:operation name="multiplica">
      <wsdl:input message="tns:multiplicaRequest"/>
      <wsdl:output message="tns:multiplicaResponse"/>
    </wsdl:operation>
    <wsdl:operation name="divide">
      <wsdl:input message="tns:divideRequest"/>
      <wsdl:output message="tns:divideResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CalculadoraSOAP" type="tns:Calculadora">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="soma">
      <soap:operation soapAction="http://www.lcobucci.com.br/services/Calculadora/soma"/>
      <wsdl:input>
        <soap:body namespace="http://www.lcobucci.com.br/services/Calculadora" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body namespace="http://www.lcobucci.com.br/services/Calculadora" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="subtrai">
      <soap:operation soapAction="http://www.lcobucci.com.br/services/Calculadora/subtrai"/>
      <wsdl:input>
        <soap:body namespace="http://www.lcobucci.com.br/services/Calculadora" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body namespace="http://www.lcobucci.com.br/services/Calculadora" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="multiplica">
      <soap:operation soapAction="http://www.lcobucci.com.br/services/Calculadora/multiplica"/>
      <wsdl:input>
        <soap:body namespace="http://www.lcobucci.com.br/services/Calculadora" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body namespace="http://www.lcobucci.com.br/services/Calculadora" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="divide">
      <soap:operation soapAction="http://www.lcobucci.com.br/services/Calculadora/divide"/>
      <wsdl:input>
        <soap:body namespace="http://www.lcobucci.com.br/services/Calculadora" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body namespace="http://www.lcobucci.com.br/services/Calculadora" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Calculadora">
    <wsdl:port binding="tns:CalculadoraSOAP" name="CalculadoraSOAP">
      <soap:address location="http://localhost/soap/public/calculadora.php"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>