resources/Triangulo.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.senac.sc.br/sala23/services/Triangulo"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="Triangulo" targetNamespace="http://www.senac.sc.br/sala23/services/Triangulo">
	<wsdl:message name="buscaTipoTrianguloRequest">
		<wsdl:part name="lado1" type="xsd:float" />
		<wsdl:part name="lado2" type="xsd:float" />
		<wsdl:part name="lado3" type="xsd:float" />
	</wsdl:message>
	<wsdl:message name="buscaTipoTrianguloResponse">
		<wsdl:part name="buscaTipoTrianguloResponse" type="xsd:string" />
	</wsdl:message>
	<wsdl:message name="calculaAreaRequest">
		<wsdl:part name="base" type="xsd:float" />
		<wsdl:part name="altura" type="xsd:float" />
	</wsdl:message>
	<wsdl:message name="calculaAreaResponse">
		<wsdl:part name="response" type="xsd:float" />
	</wsdl:message>
	<wsdl:portType name="Triangulo">
		<wsdl:operation name="buscaTipoTriangulo">
			<wsdl:input message="tns:buscaTipoTrianguloRequest" />
			<wsdl:output message="tns:buscaTipoTrianguloResponse" />
		</wsdl:operation>
		<wsdl:operation name="calculaArea">
			<wsdl:input message="tns:calculaAreaRequest" />
			<wsdl:output message="tns:calculaAreaResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="TrianguloSOAP" type="tns:Triangulo">
		<soap:binding style="rpc"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="buscaTipoTriangulo">
			<soap:operation
				soapAction="http://www.senac.sc.br/sala23/services/Triangulo/buscaTipoTriangulo" />
			<wsdl:input>
				<soap:body namespace="http://www.senac.sc.br/sala23/services/Triangulo"
					use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body namespace="http://www.senac.sc.br/sala23/services/Triangulo"
					use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="calculaArea">
			<soap:operation
				soapAction="http://www.senac.sc.br/sala23/services/Triangulo/calculaArea" />
			<wsdl:input>
				<soap:body namespace="http://www.senac.sc.br/sala23/services/Triangulo"
					use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body namespace="http://www.senac.sc.br/sala23/services/Triangulo"
					use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Triangulo">
		<wsdl:port binding="tns:TrianguloSOAP" name="TrianguloSOAP">
			<soap:address location="http://localhost/soap/public/triangulo.php" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>